name: Veryfi-swift unit test

on:
  pull_request:
    branches:
      - master

jobs:

  build:
    runs-on: ubuntu-22.04

    steps:

      - uses: actions/checkout@v2

      - name: Install Swift
        uses: fwal/setup-swift@v1
        with:
          release-version: '5.5.0'
      
      - name: Tests
        run: |
          swift build
          swift test --enable-code-coverage
      
      - name: check code coverage
        run: |
          cd .github/metrics/
          python generate_badge.py
          cd ../../
